body {
	background-color: #0000FF;
}

/* Barra de título superior */
.m_4081bf90  {
	display: none;
}

/* Aquele título "Livro Interativo" */
.m_8a5d1357 {
	display: none;
}

/* Aquele título DIV ao lado esquerdo */
.__m__-r1n {
	display: none;
}

/* Esse é justamente o livro */    
.__m__-r1o {	
	position: fixed;
	width: 100%;	
	z-index: 49;
	top: 50%; /* Quanto maior, mais pra baixo */
	left: 50%;
	max-width: 85.5%;
	transform: translate(-50%, -51.5%);
    }
