body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  color: #0f0;
}

/*
    .m_8a5d1357 {
	display: none;
    }

*/

/* Barra de título superior */
.m_4081bf90  {
	display: none;
}

/* Aquele título "Livro Interativo" */
.m_8a5d1357 { display: none; }

/* Aquele título DIV ao lado esquerdo */
.__m__-r1n { display: none; }


/* Esse é justamente o livro */
    .__m__-r1o {
	
	width: 100vw;
	
	z-index: 49;
	top: 0;
	left: 0;
	position: fixed;	
	width: 100%;
	
    }
