body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  color: #0f0;
}

.__m__-r1m {
  display: none;
}

.__m__-r1n {
  display: none;
}

.__m__-r12  {
  display: none;  
}

.m_8a5d1357  {
  display: none;  
}

.m_4081bf90 {
  display: none;  
}

.m_7485cace {
  padding-block: 0;
}

.bookContainer {
  position: sticky;  
}

.m_8983817 {
  padding-top: 0;
}
